[build]
  command = "npm run build"
  publish = "build/client"
  functions = "build/server"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[[headers]]
  for = "/assets/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, immutable"
