[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "build/client"

[[headers]]
  for = "/assets/*"
  [headers.values]
    "Cache-Control" = "public, max-age=31536000, immutable"
